h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.employee-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding: 10px;
  background-color: wheat;
  border-radius: 10px;

  .form-row {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;

    input {
      border: none;
      border-radius: 10px;
      height: 30px;
      margin: 10px 0px;
    }

    input.ng-touched.ng-dirty.ng-invalid {
      outline: 1px solid red;
      border: none;
      border-radius: 10px;
      height: 30px;
      margin: 10px 0px;
    }

    select {
      border: none;
      border-radius: 10px;
      height: 30px;
      margin: 10px 0px;
    }

    span {
      color: red;
      font-size: 12px;
    }
  }

  .form-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;

    input {
      border: none;
      border-radius: 10px;
      height: 30px;
      margin: 10px 0px;
    }

    .phone {
      margin: 0px 10px;
    }
  }

  .btn-delete {
    background-color: red;
    border: none;
    padding: 3px 5px;
    border-radius: 5px;
    color: white;
    width: 50px;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    width: 100%;

    .btn-create {
      background-color: rgb(19, 213, 19);
      border: none;
      padding: 7px 10px;
      border-radius: 5px;
      color: white;

      &.btn-create:disabled {
        background-color: rgb(136, 183, 136);
        cursor: not-allowed;
      }
    }
  }

  .add-phone {
    background-color: rgb(10, 176, 232);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }

  .success {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(19, 213, 19);
    font-size: 20px;
  }
}
